@font-face {
    font-family: 'Sukhumvit';
    src: url('../fonts/sukhumvit.woff');
}

body {
    font-family: 'Sukhumvit';
    width: 100%;
    height: 100%;
    color: white;
}

html {
    width: 100%;
    height: 100%;
    background-color: #EEF4F9;
}
.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

@media(min-width:768px) {
    .navbar {
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

#page-top {
    background: rgb(244,226,156);
    background: -moz-linear-gradient(45deg, rgba(18,190,210,0) 0%, rgba(231,9,130,1) 100%), -moz-linear-gradient(left, rgba(18,190,210,1) 0%, rgba(130,96,87,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(18,190,210,0) 0%,rgba(231,9,130,1) 100%), -webkit-linear-gradient(left, rgba(18,190,210,1) 0%,rgba(130,96,87,1) 100%);
    background: -o-linear-gradient(45deg, rgba(18,190,210,0) 0%,rgba(231,9,130,1) 100%), -o-linear-gradient(left, rgba(18,190,210,1) 0%,rgba(130,96,87,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(18,190,210,0) 0%,rgba(231,9,130,1) 100%), -ms-linear-gradient(left, rgba(18,190,210,1) 0%,rgba(130,96,87,1) 100%);
    background: linear-gradient(45deg, rgba(18,190,210,0) 0%,rgba(231,9,130,1) 100%), linear-gradient(to right, rgba(18,190,210,1) 0%,rgba(130,96,87,1) 100%);

    background-size: cover;
    padding-bottom: 10%;
}

.navbar {
    background-repeat: no-repeat;
}

.navbar-default {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}
.navbar-default .navbar-nav> li> a {
    color: white;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-nav> li> a {
    color: #FFF;
}
.navbar-default .navbar-nav> li> a:hover, .navbar-default .navbar-nav> li> a:focus {
    color: #FFF;
}

.navbar-brand {
    transform: translateX(-50%);
    left: 10%;
    position: absolute;
    padding: 0px;
    /* firefox bug fix */
}
.navbar-brand> img {
    max-height: 100%;
    height: 100%;
    width: auto;
}

.img-logo-big {
    width: 50%;
    height: 50%;
    margin: auto auto;
    padding-top: 5%;
}

.time {
    display: block;
    text-align: center;
    padding: 20px 20px;
}

.box-time {
    display: inline-block;
    text-align: center;
    padding: 0px 20px 0px 20px;
    // border-right: 1px solid #ffffff; --> check on Timer.jsx render() method
}

.box-time h1 {
    font-size: 4em;
    margin: 0;
}

.box-time p {
    margin: 0;
}

.content {
    color: black;
    padding: 15px 0px;
}

section {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    -animation-delay: 0.5s;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    -ms-animation-duration: 2s;
    animation-duration: 2s;
    padding: 100px 0;
}

.full-height {
    height: 100%;
    padding: 0;
    margin: 0;
}

.content-intro, .content-timeline h2 {
    text-align: center;
}

.award-element {
    margin: 0px;
}

.award-element img {
    width: 50%;
    margin: 0 auto;
    display: block;
    border: 5px solid rgb(18,190,210);
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    margin-bottom: 20px;
}

.timeline-element {
    margin-bottom: 150px;
}

.timeline-panel {
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
}

.timeline-panel-inverted {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
}

.rc-progress-circle {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 50%;
}

.btn-vote {
    background-color: #E482CB;
    padding: 5px 55px;
    color: white;
    border-radius: 4000px;
    cursor: pointer;
}

.btn-vote:hover {
    background-color: #E6A0D4;
    padding: 5px 55px;
    color: white;
    border-radius: 4000px;
    cursor: pointer;
    transition: 0.5s;
}

